<input type="button" class="btnadd" value="Agregar cantante" routerLink='/addsinger'>
<input type="button" class="btncancel" routerLink='/home' value="Volver al menu">
<table mdbTable>
    <thead class="thead">
        <tr>
            <th>Nombre </th>
            <th>Estado </th>
            <th>Detalle </th>
            <th>Agregar Genero/Cancion </th>
        </tr>
    </thead>
    <tbody>
        <tr mdbTableCol *ngFor="let el of singers">
            <td>{{el.Name}}</td>
            <td>{{el.state == 1 ? 'Activado' : 'Baja'}}</td>
            <td><i class="fa fa-list" aria-hidden="true" title="ver detalle" style="cursor: pointer;">Ver detalle</i></td>


            <button class="fa fa-plus btnaddgencan" aria-hidden="true" title="Agregar Genero y cancion" (click)="AddCenderSong(el.idSinger)"> Agregar</button>
        </tr>
    </tbody>
</table>
