<div class="container ">

    <div class="abs-center ">
        <form id="formulario" class="border p-3 form">
            <h2 class="center bg-cover tit">Agregar genero canción</h2>
            <div class="form-group ">
                <label for="text">Nombre Del cantante</label>
                <input type="text"  readonly id="username" value="{{singer.Name}}" placeholder="Nombre cantante" required class="form-control">
               
            </div>
            <div class="form-group ">
                <div class="col-12">
                    <label class="col-3">Genero musica</label>
                    <select class="custom-select col-5 selectgender" (click)="HideMessage('error_gender')">
                  <option selected="">Seleccionar un genero</option>
                  <option *ngFor="let el of genders" class=""  value={{el.idGender}}>{{el.name}}</option>
                </select>
                </div>
                <span class="red-text error_gender"></span>
            </div>
            <div class="form-group ">
                <div class="col-12">
                    <label class="col-3">Cancion</label>
                    <select class="custom-select col-5 selectsong" (click)="HideMessage('error_song')">
                  <option selected="">Seleccionar una cancion</option>
                  <option *ngFor="let el of songs" class="" value={{el.idSong}}>{{el.name}}</option>
                </select>
                </div>
                <span class="red-text error_song"></span>
            </div>
            <span class="red-text">{{errorcreate}}</span>
            <button type="button" class="btnadd" (click)="CreateUser()"><i class="fa fa-plus" aria-hidden="true"></i>Guardar</button>
            <input type="button" value="Cancelar" routerLink="/listsinger" class="btncancel">
            <br>
            <div class="overlay" *ngIf="load">

                <div class="spinner ">
                    <h3>{{messegeexitos}}</h3>
                    <img class="imgsp" src="../../assets/img/giphyloadinf.webp" />
                </div>

            </div>
        </form>
    </div>
</div>