<input type="button" class="btnadd" routerLink='/addsong' value="Agregar canción">
<input type="button" class="btnretun" routerLink='/home' value="Volver al menu">

<div class="col-10" style="display: flex;">
    <label class="col-2">Filtrar: </label>
    <div class="col-4">
        <input type="text" class="txtsearch">
    </div>
    <div class="col-3">
        <input type="button" class="btnadd" value="Buscar" (click)="Search();">
    </div>
    
    </div>
<table mdbTable>
    <thead class="thead">
        <tr>
            <th>Nombre </th>
            <th>Estado </th>
        </tr>
    </thead>
    <tbody>
        <tr mdbTableCol *ngFor="let el of songs">
            <td>{{el.name}}</td>
            <td>{{el.state == 1 ? 'Activado' : 'Inabilitado'}}</td>
        </tr>
    </tbody>
</table>
